@media (min-width: 767px), (max-width: 1081px) {
  .menu {
    display: none;
  }

  .header-menu > .button {
    font-family: "Inter";
    padding: 8px 16px;
    border-radius: 4px;
    background: #017aff;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    width: 131px;
    line-height: 20px;
    text-decoration: none;
    display: none;
  }

  .button {
    font-family: "Inter";
    padding: 8px 16px;
    border-radius: 4px;
    background: #017aff;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    width: 131px;
    line-height: 20px;
    text-decoration: none;
  }

  .button2 {
    font-family: "Inter";
    padding: 8px 16px;
    border-radius: 4px;
    background: #017aff;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    width: 100px;
    line-height: 20px;
    text-decoration: none;
    display: block;
  }

  .header {
    /* min-height: 100vw; */

    position: fixed;
    background-color: #ffffff;
    z-index: 1000;
    width: 100%;
    top: 0;
  }

  .header-menu {
    margin: 0 50px 0 50px;
    height: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }

  .banner {
    position: relative;
    margin-top: 80px;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url("../img/happy-diverse-people-using-digital-devices\ 1.png");
    background-size: cover;
  }

  .header-content {
    padding-left: 50px;
    padding-top: 31px;
    width: 100%;
  }

  .text-head {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    width: 588px;
  }

  .text-subhead {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 28px;
    width: 588px;
  }

  .text-info {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }

  /*Content*/
  .container {
    width: 100%;
    margin-top: 80px;

    justify-content: center;
    position: relative;
  }

  .container-head .text-info {
    width: 419px;
    position: relative;
  }

  .container-head .text-info::before {
    content: url("../img/open1.svg");
    height: 16px;
    background-size: 16px 16px;
    position: absolute;
    left: -5px;
    top: -5px;
  }

  .container-head .text-info::after {
    content: url("../img/close1.svg");
    height: 16px;
    background-size: 16px 16px;
    position: absolute;
    width: 30px;
    bottom: 10px;
  }

  .conteiner-line {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
  }

  .line {
    width: 286px;
    border-bottom: 2px solid #017aff;
  }

  .container-body {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mobile-app {
    width: 500px;
    position: relative;
    margin-right: 200px;
    height: 600px;
  }
  .mobile1 {
    position: absolute;
    top: 20px;
    left: 132px;

    width: 184px;
    height: 381px;
  }
  .mobile2 {
    position: absolute;
    top: 140px;
    left: 270px;

    width: 184px;
    height: 381px;
  }

  .characteristics-app {
    width: 500px;
    height: 400px;
    display: inline;
    /*  padding: 50px; */
    padding-left: 40px;
  }

  .characteristics-item {
    float: left;
    width: 170px;
    height: 170px;
    margin: 10px;
    text-align: center;
  }

  .item-text {
    margin-top: 16px;
  }

  .container-rules {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container-rules .text-info {
    width: 419px;
    position: relative;
  }

  .container-rules .text-info::before {
    content: url("../img/open1.svg");
    position: absolute;
    left: -20px;
    top: -5px;
  }

  .container-rules .text-info::after {
    content: url("../img/close1.svg");
    position: absolute;
    width: 30px;
    bottom: 5px;
  }

  /*rules*/

  .rules {
    margin-top: 60px;
    /* height: 960px;*/
    background: #017aff14;

    padding-bottom: 76px;

    width: inherit;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .rules-head {
    width: 100%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding: 30px 0 20px 0;
  }

  .contain-img {
    width: 688px;
    display: block;
  }

  .contain-text {
    width: 688px;
    display: block;
    align-items: center;
    /**/
    position: absolute;
  }

  .item-text-rules {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    margin-top: 15px;
  }

  .rules-item:nth-child(2n + 1) > .rules-item-contain > .contain-img > .item-img {
    margin-left: 32px;
    float: left;
  }

  .rules-item:nth-child(2n + 1) > .rules-item-contain > .contain-text > .item-text-rules {
    float: left;
    padding-left: 105px;
  }

  .rules-item:nth-child(2n) > .rules-item-contain > .contain-img > .item-img {
    float: right;
    margin-right: -35px;

    /**/
    position: absolute;
    left: 30px;
  }

  .rules-item:nth-child(2n) > .rules-item-contain > .contain-text > .item-text-rules {
    float: left;
    padding-left: 105px;
  }

  .item-img {
    width: 56px;
    height: 56px;
  }

  .rules-item-contain {
    display: flex;
  }
  .rules-item {
    display: block;
    width: 100%;
    height: 130px;

    /**/
    position: relative;
  }

  .rules-item:nth-child(1) {
    height: 56px;
  }

  .conteiner-line-rules {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 40px;
    padding-left: 60px;
    position: relative;
  }

  .line-rules {
    top: 40px;
    position: absolute;
    height: 920px;
    border-left: 2px solid #017aff;
  }

  .conteiner-line-rules1 {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 40px;
    padding-left: 60px;
    position: relative;
  }

  .line-rules1 {
    top: 0px;
    position: absolute;
    height: 750px;
    border-left: 2px solid #017aff;
  }
}
